/* 1. Set body foreground color */
body {
    color: #161616;
}

/* 2. Set all anchor elements foreground color */
a {
    color: #161616;
}

/* 3. Hide elements with class visually-hidden */
.visually-hidden {
    display: none;
}

/* 4. Set foreground color for elements with class card-category */
.card-category {
    color: #D73953;
}

/* 5. Set foreground color for elements with class section-tagline */
.section-tagline {
    color: #D73953;
}
